<%- include('partials/header') %>

    <main>
        <h1><%= title %></h1>

        <p>Explore our upcoming service projects and join us in making a difference:</p>
                
                <ul class="projects-list">
                    <% projects.forEach(project => { %>
                        <li>
                            <strong><%= new Date(project.date).toLocaleDateString() %></strong> 
                            <%= project.title %> (<%= project.organization_name %>)
                            <p><%= project.description %></p>
                            <small>Location: <%= project.location %></small>
                        </li>
                    <% }) %>
                </ul>

    </main>

<%- include('partials/footer') %>    